html, body {
  font-family: $shift-font;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#root {
  height: 100%;
}

main > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.in-dev {
  text-align: center;
  margin-right: 25%;
  width: 200px;
}