$shift-dark-grey: #323232;
$shift-grey: #424242;
$form-outline: #bdbdbd;
$form-background: #f7f7f8;
$underline-grey: #e0e0e0;
$mouseover-red: #e06464;
$button-red: #e35a5a;
$button-outline-red: #ee5555;
$inactive-red: #efb5b5;