.SingleDatePicker {
  width: 360px;
  text-align: center;
}

.detail-image {
  display: flex;
  flex: 1;
  height: auto;
  width: 100%;
}

.detail-info {
  border-right: 1px solid $form-outline;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.detail-label {
  color: #323232;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 5%;
}

.detail-root {
  color: $shift-grey;
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
}

.detail-specs {
  align-content: space-around;
  background-color: $form-outline;
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 1em;
  height: 50%;
  padding: 5% 8%;
}

.detail-spec {
  margin: 0 0 3%;
}

.test-drive-form {
  background-color: $form-background;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  height: auto;
  width: 60%;
}

.test-drive-form #drive-location {
  border-bottom: 1px solid $underline-grey;
  text-align: center;
  margin: 40px;
  width: 480px;
}
.test-drive-form #phone-number {
  border-bottom: 1px solid $underline-grey;
  text-align: center;
  margin: 40px;
  width: 480px;
}

.test-drive-form button {
  align-content: space-between;
  justify-content: center;
  border: 1px solid $button-outline-red;
  border-radius: 5px;
  background: $button-red;
  display: flex;
  font-size: 20px;
  height: 80px;
  margin: 20px;
  width: 50%;
}

.test-drive-form button:hover {
  background: $mouseover-red;
}