.SingleDatePicker {
  width: 75%;
  text-align: center;
}

.img-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 75%;
}

.detail-image {
  display: flex;
  flex: 1;
  max-height: 671px;
  max-width: 1071px;
  height: 100%;
  box-sizing: border-box;
  width: auto;
}

.detail-info {
  align-items: center;
  border-right: 1px solid $form-outline;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 65%;
  height: auto;
}

.detail-label {
  color: $shift-dark-grey;
  font-size: 2em;
  font-weight: bold;
  padding-top: 2vh;
  margin-bottom: 5%;
}

.detail-root {
  color: $shift-grey;
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
}

.detail-specs {
  align-content: space-around;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 1em;
  padding-top: 50px;
  padding-left: 1em;
  position: absolute;
  left: 0;
  top: 0;
}

.detail-spec {
  margin: 0 0 3%;
}

.test-drive-form {
  background-color: $form-background;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  height: auto;
  width: 35%;
}

.test-drive-form #drive-location {
  border-bottom: 1px solid $underline-grey;
  text-align: center;
  margin: 40px;
  padding: 5px;
  width: 75%;
}
.test-drive-form #phone-number {
  border-bottom: 1px solid $underline-grey;
  text-align: center;
  margin: 40px;
  padding: 5px;
  width: 75%;
}

.test-drive-form button {
  align-content: space-between;
  justify-content: center;
  border: 1px solid $button-outline-red;
  border-radius: 5px;
  background: $button-red;
  color: $shift-dark-grey;
  display: flex;
  font-size: 20px;
  height: 80px;
  margin: 20px;
  width: 45%;
}

.test-drive-form button:hover {
  background: $mouseover-red;
}