.top-nav {
  background: $shift-grey;
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: space-between;
  width: 100%; 
}

.left-pulled {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
}

.left-pulled li, .right-pulled li {
  align-items: center;
  display: flex;
  color: white;
  font-family: $shift-font;
  margin: 5px 10px;
  cursor: pointer;
}

.left-pulled li ul li:hover, .right-pulled li ul li:hover {
  color: $mouseover-red;
}

.left-pulled li span {
  margin-right: 10px;
}

.location-dropdown {
  display: flex;
  background: white;
  border: 1px solid rgba(190,190,190,.4);
  border-radius: 3px;
  box-shadow: 1px 1px 10px 0 rgba(66,66,66,.1);
  flex-direction: column;
  font-family: $shift-font;
  height: 275px;
  justify-content: center;
  padding: 15px;
  position: absolute;
  top: 45px;
  left: 175px;
  visibility: hidden;
  z-index: 1;
}

.location-dropdown li {
  color: $shift-grey;
  font-size: 15px;
  padding: 10px 3px;
  margin: 3px 0;
  width: 142px;
}

.hidden {
  visibility: hidden;
}
.nav-logo{
  color: white;
  font-family: $shift-font;
  font-size: 1.5em;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
}
.nav-logo:hover{
  color: white;
  text-decoration: none;
}

.right-pulled{
  align-items: center;
  color: white;
  display: flex;
  font-family: $shift-font;
  font-size: 13px;
  margin-right: 20px;
}

.favorites {
  display: flex;
  background: white;
  border: 1px solid rgba(190,190,190,.4);
  border-radius: 3px;
  box-shadow: 1px 1px 10px 0 rgba(66,66,66,.1);
  flex-direction: row;
  font-family: $shift-font;
  height: auto;
  justify-content: flex-start;
  max-height: 50%;
  min-height: 20%;
  overflow-x: scroll;
  position: absolute;
  top: 49px;
  visibility: hidden;
  width: 100%;
  z-index: 1;
}

.test-drives {
  display: flex;
  background: white;
  border: 1px solid rgba(190,190,190,.4);
  border-radius: 3px;
  box-shadow: 1px 1px 10px 0 rgba(66,66,66,.1);
  flex-direction: column;
  font-family: $shift-font;
  height: 100%;
  flex: 1;
  justify-content: center;
  left: 85%;
  overflow-y: scroll;
  position: absolute;
  top: 50px;
  visibility: hidden;
  width: 15%;
  z-index: 1;
}