.form-title {
  margin-top: 10%;
}
.session-form-root {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: $shift-font;
  height: 100%;
  justify-content: flex-start;
}

.session-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: $form-background;
  border: solid 1px $form-outline;
  height: 360px;
  width: 480px;
}
.session-input {
  text-align: center;
  border-bottom: solid 1px $underline-grey;
  width: 240px;
}